.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out;
}

.modal {
  background-color: #ffffff;
  position: relative;
  padding: 40px;
  border-radius: 20px;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fechar-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: #f0f0f0;
  width: 32px;
  height: 32px;
  color: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.btn-avaliar {
  padding: 1rem 2.5rem;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: all 0.3s;
  font-family: "Poppins";
  cursor: pointer;
  background: #00ffa1;
  color: #0f0f1e;
  box-shadow: 0 0 20px rgba(0, 255, 161, 0.2);
}

.avaliar-title {
  max-width: 500px;
}

.btn-avaliar:hover {
  background: #00d68f;
  box-shadow: 0 10px 30px rgba(0, 255, 161, 0.4);
}
